main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100% - 55px);
}

.loginInput {
    width: 100%;
    padding: 15px 10px;
}

#loginForm {
    width: 450px;
}

#loginBtn {
    width: 100%;
    border: 0;
    padding: 10px;
    margin-top: 20px;
    color: #ffffff;
    background-color: #f72f62;
}

#marginBottom {
    margin-bottom: 60px;
}

@media all and (max-width:767px) {
    #loginForm {
        width: 70%;
    }
}
